<button type="button" class="btn btn-info position-relative mb-3 float-right" routerLink="/product/create">
    Create
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
      + New
      <span class="visually-hidden">unread messages</span>
    </span>
</button>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let p of product">
        <div class="card">
            <!-- <img src="{{p.image}}" class="card-img-top" alt="p.image"> -->

            <div class="card-body">
                <span class="badge bg-warning text-dark btn-card" (click)="onEdit(p)">Edit</span>
                <span class="badge bg-danger btn-card" (click)="onDelete(p.id)">Delete</span>
                <a href="/product/view/{{p.id}}">
                    <h5 class="card-title">{{p.name}}</h5>
                </a>
                <p class="card-text">{{p.description}}</p>
                <p class="card-text">
                    <span class="badge rounded-pill bg-primary">Price  : {{p.price}}</span>
                    <span class="badge rounded-pill bg-secondary"> imageUrl : {{p.imageUrl}}</span>
                    <span class="badge rounded-pill bg-success">Brand : {{p.brand}}</span>
                    <span class="badge rounded-pill bg-danger">Tanufacturer : {{p.manufacturer}}</span>
                    <span class="badge rounded-pill bg-danger">Type : {{p.type}}</span>
                </p>
                <p class="card-text">Seller : {{p.seller}} </p>
            </div>
        </div>
    </div>
</div>